target/
.idea/*
*.iml
logs/
*.ser
*.log
*.ipynb_checkpoints
*.pyc

logs

.DS_Store
pom.xml.releaseBackup

dependency-reduced-pom.xml
*.ser
application.home_IS_UNDEFINEiD
README.md~
*.bin
*.releaseBackup
*.bin
*.out
*~
.pydevproject
release.properties
.idea/
*.iml
*.prefs
*.settings/*
*.log
.project
.classpath
metastore_db
*.ipynb*
*.json

package
server
dist

.factorypath

alerts
backup